body {
    background-color: #3A3A3CFF;
}

#questionContainer {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(223, 174, 0);
    font-size: 2.7rem;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
}


#answersContainer {

    margin-top: 10px;
    margin-left: 170px;
    display: grid;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(229, 162, 83);
    font-size: 1.5rem;
    border-radius: 25px 25px 25px 25px;

}

#inputDiv {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#currentQuestionDiv {
    margin-left: 190px;
    display: flex;
    width: 65vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(193, 123, 123);
    font-size: 1.5rem;
    border-radius: 25px 25px 25px 25px;

}

#currentScore {
    margin: auto;
    display: flex;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.7rem;

}

.hidden {
    display: none;
}