body {
    background-color: rgb(129, 173, 224);
}

input {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#inputName{
    width: 200px;
}

#result{
    font-size: 1.9rem;
    margin-right: 0.5rem;
}

#login{

    align-items: center;
}

#questionContainer {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.7rem;
    background-color: rgba(73, 138, 212, 0.719);
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    border: 0.1rem solid black;
    box-shadow: 10px 5px 35px rgb(0, 0, 0);
}

#answersContainer {
    margin-top: 10px;
    margin-left: 170px;
    display: grid;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.8rem;
    background-color: rgb(157, 191, 230);
    border-radius: 25px 25px 25px 25px;
    border: 0.1rem solid black;
    box-shadow: 10px 5px 35px rgb(0, 0, 0);
}

#currentQuestionDiv {
    margin-left: 205px;
    display: flex;
    width: 65vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 25px 25px 25px 25px;
    border: 0.1rem solid;
    box-shadow: 10px 5px 15px rgb(0, 0, 0);
}

#currentScore {
    margin: auto;
    display: flex;
    height: 30vh;
    width: 70vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.7rem;
}

#endContainer {
    text-align: center;
}

#nextQuestionBtn {
    margin-left: 700px;
    margin-top: 15px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
} */

#previousBtn {
    margin-left: 220px;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
}

 #nextQuestionBtn:hover {
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#previousBtn:hover {
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
} 

 /* #playAgainBtn {
    align-items: center;
    margin-top: 15px;
    color: #fff ;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
} */

#playAgainBtn:hover {
    background: #434343;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.hidden {
    display: none !important;
}